@model Tarea3prog.Models.Empleado

@{
    ViewBag.Title = "Resultados";
}

<h2>Datos</h2>
<label>Id: @Model.Id</label>
<label>Cedula: @Model.Cedula</label>
<label>Nombre: @Model.Nombre</label>
<label>Apellido: @Model.Apellido</label>
<label>Email: @Model.Email</label>
<label>Telefono: @Model.Telefono</label>
<label>Departamento: @Model.Departamento</label>
<label>Cargo: @Model.Cargo</label>

